  /* styles specifically for research interests page and prj pages  */
  /* for research interest page  */
  .research-header {
    padding-right: 3rem;
    font-size: 2rem;
  }

  .research-fig {
    padding:auto;
    max-width:1000px;
    min-width:550px;
  }

  .research-intro {
    min-height: 1vh;
    width: 90%;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .research-text {
    position:relative;
    right:0%;
    height:20%;
    top:20%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
            text-align:justify;
  }

  .research-caption {
    color:rgb(100, 100, 100) !important;
  }

  
  /* for detailed prj pages  */
  .prj1-pic {
    padding:auto;
    max-width:600px;
    min-width:500px;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .prj2-pic {
    padding:auto;
    max-width:1000px;
    min-width:1000px;
  }



  /* fit different screens  */
  @media screen and (max-width: 1176px) {
    .research-fig {
        max-width: 800px;
        min-width: 400px;
    }
    .prj1-pic {
        max-width: 500px;
        min-width: 400px;
    }
    .prj2-pic {
        max-width: 300px;
        min-width: 200px;
    }
  }

  @media screen and (max-width: 870px) {
    .research-fig {
    max-width: 600px;
    min-width: 400px;
    }
    .prj1-pic {
    max-width: 400px;
    min-width: 300px;
    }
    .prj2-pic {
    max-width: 300px;
    min-width: 200px;
    }
  }

  @media screen and (max-width: 754px) {
    .research-fig {
    max-width: 500px;
    }
    .research-text {
    margin-top: 10rem;
    }
    .prj1-pic {
        max-width: 100px;
    }
    .prj2-pic {
    max-width: 150px;
    }
  }

  @media screen and (max-width: 520px) {
    .research-fig {
    max-width: 400px;
    min-width: 200px;
    }
    .research-header {
    padding-right: 3rem;
    font-size: 1rem;
    }
    .research-nav ul {
    margin:0;
    padding: 1rem;
    }
    .research-nav {
    margin:0;
    padding: 1rem;
    }
    .research-text {
    padding-right: 0;
    font-size: 1.5rem;
    margin: 0;
    }

    /* change the button size  */
    .return-to-research {
    font-size:1.5rem;
    }
  }